{%extends "base.html"%}

{%block body_content%}
    <div class="container">
        <center><h1>About NotTwitter</h1></center>
        <br>
    </div>

    <div class="container">
        <div class="about-pg-first-text-box">
            <p style="text-indent: 8%;">
                    NotTwitter is not Twitter. It's another social media platform.
                However, we don't have any real posts. 
                Just one fake one on the welcome page. 
                We could have real ones, but we're not actually running this service :(.
                Now we are going to list some stuff. This stuff will be meaningless,
                but I need to take up more space on this page. Here we go:
            </p>
            <p>
                <li style="text-indent: 5%;">First thing</li>
                <li style="text-indent: 5%;">Second thing</li>
                <li style="text-indent: 5%;">Third thing</li>
                <li style="text-indent: 5%;">Fourth thing</li>
                <li style="text-indent: 5%;">Fifth thing</li>
                <li style="text-indent: 5%;">Sixth thing</li>
                <li style="text-indent: 5%;">Seventh thing</li>
                <li style="text-indent: 5%;">Eighth thing</li>
                <li style="text-indent: 5%;">Ninth thing</li>
                <li style="text-indent: 5%;">Tenth thing</li>
                <br>

                As you can see, here at NotTwitter, we can count to 10.
            </p>
        </div>
        <br>

        <div class="about-pg-image-box"> 
            <img src="../static/images/buisiness_dude.webp">
            <center>
                <p>
                    <em>This is some guy. He isn't the founder.
                    Actually, we don't even know his name.
                    But he looks important, so here he is.</em>
                </p>
            </center>
        </div>
    </div>
{%endblock body_content%}