<head>
    <link href="../static/css/NotTwitter.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {%if not as_form|default(false)%}
        {%set str_idx=idx|default(0)|string%}
        <div class="post" id="{{post.id}}">
            <div class="post-header">
                <div class="user-meta">
                    <span style="position: sticky; left: 0%">
                        <p>👤 {{post.user.name}}</p>
                    </span>
                    {%set user_points_id="user_points" + str_idx%}
                    <span style="position: sticky; left: 100%; font-size: 14px;">
                        <p id="{{user_points_id}}">{{post.user.points}} pts</p>
                    </span>
                </div>
                <div class="post-meta">
                    <span style="position: sticky; left: 0%">
                        <p>Posted on {{post.date}}, {{post.time}}</p>
                    </span>
                    {%set post_points_id="post_points" + str_idx%}
                    <span style="position: sticky; left: 100%; font-size: 12px;">
                        <p id="{{post_points_id}}">{{post.points}} pts</p>
                    </span>
                </div>
                <div class="post-title"><h3>{{post.title}}</h3></div>
            </div>
            <hr>
            <p class="post-content">{{post.content}}</p>
            <div class="post-actions">
                {%set like_id="postLikeBtn" + str_idx%}
                {%set dislike_id="postDislikeBtn" + str_idx%}
                {%set _update_db=update_db|default(true)%}
                <button id="{{like_id}}" class="action-button like inactive" 
                onclick="handle_like(
                    '{{like_id}}', '{{dislike_id}}', 
                    'action-button like active', 'action-button dislike active', 
                    'action-button like inactive', 'action-button dislike inactive', 
                    '{{_update_db}}', 
                    '{{post.id}}', 'user_points', '{{post_points_id}}', 
                    '{{post.user.name}}'
                )"
                >
                    👍 Like
                </button>
                <button id="{{dislike_id}}" class="action-button dislike inactive"
                onclick="handle_dislike(
                    '{{dislike_id}}', '{{like_id}}', 
                    'action-button dislike active', 'action-button like active', 
                    'action-button dislike inactive', 'action-button like inactive', 
                    '{{_update_db}}', 
                    '{{post.id}}', 'user_points', '{{post_points_id}}', 
                    '{{post.user.name}}'
                )"
                >
                    👎 Dislike
                </button>
                <button class="action-button comment-button">Comment 💬</button>
                <button class="action-button share-button">Share ↪</button>
            </div>
            <hr>
            <div class="post-space-section">#{{post.space}}</div>
        </div>
    {%else%}
        <form method="post" action="{{url_for('new_post', username=username)}}">
            <div class="post">
                <div class="post-header">
                    <div>
                        <p class="user-meta">👤 {{username}}</p>
                        <p class="post-meta">Posted on ...</p>
                        <label for="title" class="form-label">Title:</label>
                        <input name="title" class="post-title">
                    </div>
                </div>
                <hr>
                <label for="content" class="form-label">Content:</label>
                <input name="content" class="post-content">
                <hr>
                <label for="space" class="form-label">Space:</label>
                <div class="post-space-section">
                    <span>#</span><input type="text" id="space" name="space" class="form-control">
                </div>
            </div>
            <br>
            <button type="submit">Post</button>
        </form>
    {%endif%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../static/js/NotTwitter.js"></script>
</body>